@model List<NavOS.Basecode.Services.ServiceModels.GenreViewModel>
@using NavOS.Basecode.Services.Helper;
@{
    ViewData["Title"] = "Genre List";

    var genreModal = new NavOS.Basecode.Services.ServiceModels.GenreViewModel();
    var colorClasses = new string[] { "green", "yellow", "orange" };
    var requestQuery = ViewContext.HttpContext.Request.Query;
    int pageSize = 6;
    var (currentPage, totalItems, totalPages, startIndex, bookNumber, pageData) = GenrePaginationHelper
        .GetPagination(pageSize, Model, requestQuery["page"].FirstOrDefault());
}
<style>
    .card-big-shadow {
        width: 100%;
        position: relative;
        overflow:hidden;
    }

    .card {
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
        background-color: #FFFFFF;
        color: #252422;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }

    .card.card-just-text .content {
        padding: 15px 20px;
        height:70px;
    }

    .genre-button-section{
        margin-top:10%;
        height: 50px;
    }

    .admin-name-section {
        height: 20px;
    }

    .card .content {
        padding: 20px 20px 10px 20px;
    }

    .card[data-color="blue"] .category {
        color: #7a9e9f;
    }

    .card .category,
    .card .label {
        font-size: 14px;
        margin-bottom: 0px;
    }

    h4,
    .h4 {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.2em;
    }

    h6,
    .h6 {
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
    }

    .card .description {
        font-size: 16px;
        color: #66615b;
    }

    .content-card {
        margin-top: 30px;
        height: 100%;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    .pagination .page-item.active a {
        background-color: #00A651;
        box-shadow: none;
    }

    .pagination .page-item:not(.active) a {
        background-color: #FFC119;
        color: #000;
    }

    .pagination .page-item a {
        border: none;
    }

    .pagination .page-item a:hover {
        background-color: #00A651;
        color: white;
    }

    .btn-slide {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .trigger {
        padding: 10px 20px;
        background-color: transparent;
        color: #FFC119;
        border: 2px solid #f39c12;
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s;
        position: relative;
        z-index: 2;
        display: inline-block;
        text-decoration: none;
    }

    .slide {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #f39c12;
        transition: left 0.5s ease;
        z-index: 1;
    }

    .btn-slide:hover .slide {
        left: 0;
    }

    .btn-slide:hover .trigger {
        color: #000;
        background-color: #FFC119;
    }


</style>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 px-2 justify-content-between">
            <div class="btn-slide float-end mt-2">
                <a class="trigger fw-semibold" asp-action="AddBook" asp-controller="Book">+ Add Book</a>
                <div class="slide"></div>
            </div>
        </div>
    </div>
</div>
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        @for (int i = 0; i < pageData.Count; i++)
        {
            var genre = pageData[i];

            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text border-1" style="border-color: #FFC119; background-color:#232b2b" data-radius="none">
                        <div class="content">
                            <div class="col-md-12">
                                <h4 class="title">
                                    <a class="text-decoration-none text-dark text-white">
                                        @genre.GenreName
                                    </a>
                                </h4>
                                <a href="#" class="text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal-@i" data-toggle="tooltip" data-bs-placement="right" title="Click here to view description" style="font-size:12px;">Click to View Description</a>
                            </div>
                        </div>
                        <div class="genre-button-section">                        
                            <div class=" btn-group ms-3">
                                <form asp-controller="Genre" asp-action="EditGenre" method="get">
                                    <input type="hidden" name="Genreid" value="@genre.GenreId" />
                                    <button type="button" class="btn btn-sm btn-outline-warning rounded-2 text-white" data-bs-toggle="modal" data-bs-target="#editModal-@i" style="max-width:150px; box-shadow:none;"><i class="bi bi-pencil"></i> Edit Genre</button>
                                </form>
                                <button type="submit" class="btn btn-sm btn-outline-warning rounded-2 mx-2 text-white" onclick="openModalSet('@genre.GenreId','@genre.GenreName')"><i class="bi bi-trash"></i> Delete Genre</button>
                                <form asp-controller="Genre" asp-action="BooksGenre" method="get">
                                    <input type="hidden" name="genreName" value="@genre.GenreName" />
                                    <button type="submit" class="btn btn-sm btn-outline-warning rounded-2 text-white"><i class="bi bi-book"></i> Explore Book</button>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModal-@i" tabindex="-1" aria-labelledby="editModalLabel-@i" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark fw-bold" id="editModalLabel-@i">Edit Genre</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Edit Genre Modal-->
                            @await Html.PartialAsync("EditGenre", genre)
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal-@i" tabindex="-1" aria-labelledby="exampleModalLabel-@i" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark fw-bold" id="exampleModalLabel-@i">@genre.GenreName</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span class="text-dark fw-semibold mb-1">Description:</span>
                            <p class="text-dark">@genre.GenreDescription</p>
                            <div class="col-md-12">
                                <div class="row float-start">
                                    <p class="muted text-dark"><span class="fw-semibold text-dark">Added by:</span> @genre.AddedBy</p>
                                    <br>
                                    <p class="muted text-dark"><span class="fw-semibold text-dark">Updated by:</span> @genre.UpdatedBy</p>
                                </div>
                             </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Add Genre Modal -->
<div class="modal fade" id="addGenreModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @Html.Partial("AddGenre", genreModal)
        </div>
    </div>
</div>
<!-- Modal Area for deleting genre-->
<div class="w3-modal" id="deleteModal">
    <div class="w3-modal-content w3-animate-top w3-round-xlarge" style="background-color: #212529;width: 40%; margin-top:50px;">
        <div class="w3-container w3-padding-large">
            <p>
                <div class="text-center">
                    <h3 class="w3-center">Are you sure you want to delete</h3>
                    <h3 class="w3-center" id="NameGenre"></h3>
                </div>
            </p>
            <div class="row text-center">
                <div id="IdGenre" style="display: none"></div>
                <div class="col-md-6">
                    <button class="btn btn-outline-warning" style="width: 200px" onclick="deleteGenre()"><h3>YES</h3></button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-warning" style="width: 200px" onclick="modal_control('deleteModal','none')"><h3>NO</h3></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end mb-2">
    <nav aria-label="Page navigation" style="margin-bottom:-14.5px;">
        <ul class="pagination">
            @for (int i = Math.Max(1, currentPage - 1); i <= Math.Min(totalPages, currentPage + 1); i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        var successMessage = '@TempData["SuccessMessage"]';

        if (errorMessage) {
            toastr.error(errorMessage);
        }

        if (successMessage) {
            toastr.success(successMessage);
        }

    </script>

    <script src="~/js/genreModal.js"></script>
}
