@model List<NavOS.Basecode.Services.ServiceModels.GenreViewModel>

<div class="container pt-5">
    <div class="row">
        @foreach (var genre in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-text font-weight-bold">@genre.GenreName</h4>
                        <p class="card-text"><b>@genre.GenreDescription</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            @*  <div class="btn-group">
                        <form asp-controller="Book" asp-action="Edit" method="get">
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </form>
                        <form asp-controller="Book" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@book.Id" />
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                        </div> *@
                            <small class="text-muted">@genre.UpdatedBy</small>
                            <small class="text-muted">@genre.AddedBy</small>
                            @*  <small class="text-muted">@book.CreatedDate.ToString("dd/MM/yyyy")</small> *@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
