@model LoginViewModel
@using static NavOS.Basecode.Resources.Views.Screen

@{
    ViewData["Title"] = "Login Page";
    ViewBag.LoginView = true;
    ViewBag.MainStyle = true;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/login-verify.css">
}

<div>
    @Html.AntiForgeryToken()
</div>

<div class="centerBox">
    <div class="box">
        <header>
            <h1>LOGIN</h1>
            <h5>Login to access your account</h5>
        </header>
        <div>
            <form asp-action="Login" method="post">
                <div class="w3-container" style="padding-top:15px;">
                    <div class="txt_field" style="margin: 35px 35px 0px 35px;">
                        <i class="fa fa-envelope"></i>
                        <input type="email" asp-for="AdminEmail" placeholder="Email Address">
                    </div>
                        <span asp-validation-for="AdminEmail" class="text-danger" style="height:20px; margin-left:35px;"></span>
                    <div class="txt_field" style="margin: 20px 35px 0px 35px;">
                        <i class="fa fa-unlock-alt"></i>
                        <input type="password" asp-for="Password" placeholder="Password" onkeypress="return event.charCode != 32">
                    </div>
                        <span asp-validation-for="Password" class="text-danger" style="height:20px; margin-left:35px;"></span>
                    <div class="w3-center w3-row" style="margin-bottom: 15px;">
                        <div class="w3-full w3-middle" style="margin:2px;">
                            <a asp-controller="Account" asp-action="ForgotPassword" class="align-middle">Forgot Password?</a>
                        </div>
                    <div class="w3-center w3-row" style="margin-bottom: 15px; margin-top:10px;">
                        <div class="w3-full" style="margin-bottom: 20px">
                            <input type="submit" name="submit" value="Login" class="pointer">
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* <div class="container py-5" style="display:flex; align-content:center;height:calc(100vh - 64px)">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black"> 
                <div class="row g-0 w-1000px">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img src="~/img/asi-logo-invert.svg"
                                     style="width: 185px;" alt="logo">
                            </div>
                            <form method="post" action="/Account/Login" id="loginForm">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="AdminEmail">@AdminEmail</label>
                                    <input type="text" id="form2Example11" class="form-control"
                                           asp-for="AdminEmail" placeholder="Enter @AdminEmail" />
                                    <span asp-validation-for="AdminEmail" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example22">@Password</label>
                                    <input type="password" id="form2Example22" class="form-control"
                                           asp-for="Password" placeholder="Enter password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                                    <button class="btn btn-primary btn-block login-btn gradient-custom-2 mb-3" type="submit">
                                        @Login
                                    </button>
                                    <div>
                                        <a class="text-muted" asp-controller="Account" asp-action="ForgotPassword">@ForgotPass</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <img style="width:400px"src="~/img/LiveIT.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        // Check for success message and display Toastr notification
        var successMessage = '@TempData["SuccessMessage"]';

        if (errorMessage) {
            toastr.error(errorMessage);
        }

        if (successMessage) {
            toastr.success(successMessage);
        }
    </script>
}