@model LoginViewModel
@using static NavOS.Basecode.Resources.Views.Screen

@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div>
    @Html.AntiForgeryToken()
</div>
<div class="container py-5" style="display:flex; align-content:center;height:calc(100vh - 64px)">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black"> 
                <div class="row g-0 w-1000px">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img src="~/img/asi-logo-invert.svg"
                                     style="width: 185px;" alt="logo">
                            </div>
                            <form method="post" action="/Account/Login" id="loginForm">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="AdminEmail">@AdminEmail</label>
                                    <input type="text" id="form2Example11" class="form-control"
                                           asp-for="AdminEmail" placeholder="Enter @AdminEmail" />
                                    <span asp-validation-for="AdminEmail" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example22">@Password</label>
                                    <input type="password" id="form2Example22" class="form-control"
                                           asp-for="Password" placeholder="Enter password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                                    <button class="btn btn-primary btn-block login-btn gradient-custom-2 mb-3" type="submit">
                                        @Login
                                    </button>
                                    <div>
                                        <a class="text-muted" asp-controller="Account" asp-action="ForgotPassword">@ForgotPass</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <img style="width:400px"src="~/img/LiveIT.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        // Check for success message and display Toastr notification
        var successMessage = '@TempData["SuccessMessage"]';

        if (errorMessage) {
            toastr.error(errorMessage);
        }

        if (successMessage) {
            toastr.success(successMessage);
        }
    </script>
}