@model NavOS.Basecode.Services.ServiceModels.BookWithReviewViewModel

<style>
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .rating-badge {
        position: absolute;
        top: -12px;
        right: -12px;
        z-index: 1;
        width: 40px; 
        height: 40px; 
        background-color: #FFC119; 
        color: #f000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rating-badge .badge {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 50%; 
    }

    .btn-slide {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .trigger {
        padding: 10px 20px;
        background-color: transparent;
        color: #FFC119;
        border: 2px solid #f39c12; 
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s;
        position: relative;
        z-index: 2;
        display: inline-block; 
        text-decoration: none; 
    }

    .slide {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #f39c12;
        transition: left 0.5s ease;
        z-index: 1;
    }

    .btn-slide:hover .slide {
        left: 0;
    }

    .btn-slide:hover .trigger {
        color: #000;
        background-color: #FFC119;
    }



</style>
<div class="col-md-12 mt-5">
    <div class="row">
        <!-- Book List -->
        <div class="col-md-12 mx-2 mt-2">
            <div class="row mx-3">
                <!-- Latest Books-->
                <div class="col-11 col-md-12 px-2 justify-content-between">
                    <div class="btn-slide float-end mt-2">
                        <a class="trigger fw-semibold" asp-action="NewBooks" asp-controller="Book">View New Books</a>
                        <div class="slide"></div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-between">
                    <span class="h4" style="color:#FFC119; margin-top:-35px; margin-bottom:-25px;">LATEST BOOKS</span>
                </div>
            </div>
            <hr class="mx-4"/>
            <ul class="row mt-3 list-unstyled mx-auto" style="padding-left: 0;">
                @foreach (var latestBook in Model.LatestBooks)
                {
                    <li class="col-10 col-md-3 col-xl-2 mb-3 mx-3">
                        <div class="card w-100" style="height: 100%;">
                            <a asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@latestBook.BookId" class="text-decoration-none text-dark">
                                <div class="rating-badge">
                                    <span class="badge badge-primary rounded-circle text-dark">
                                        @latestBook.TotalRating
                                        <i class="fa fa-star checked"></i>
                                    </span>
                                </div>
                                <img class="card-img-top" height="250" width="100" src="@latestBook.ImageUrl" alt="Card image cap" onerror="this.src='@Url.Content("~/img/default-book.jpg")'" style="border: 1px solid #fff;">
                                <div class="card-body text-center d-flex justify-content-center" style="height:90px;background-color:#212529; margin-top:-15px; border: 1px solid #fff; margin-bottom:-20px;">
                                    <h6 class="card-title ellipsis text-white">@latestBook.BookTitle</h6>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row mt-2">
        <!-- Book List -->
        <div class="col-md-12 mx-2">
            <!--View Top Books-->
            <div class="row mx-3">
                <!-- Latest Books-->
                <div class="col-11 col-md-12 px-2 justify-content-between">
                    <div class="btn-slide float-end mt-2">
                        <a class="trigger fw-semibold" asp-action="TopBooks" asp-controller="Book">View Top Books</a>
                        <div class="slide"></div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-between">
                    <span class="h4" style="color:#FFC119; margin-top:-35px; margin-bottom:-25px;">TOP BOOKS</span>
                </div>
            </div>
            <hr class="mx-4" />
            <ul class="row mt-3 list-unstyled mx-auto" style="padding-left: 0;">
                @foreach (var topBook in Model.TopRatedBooks)
                {
                    <li class="col-10 col-md-3 col-xl-2 mb-3 mx-3">
                        <div class="card w-100" style="height: 100%;">
                            <a asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@topBook.BookId" class="text-decoration-none text-dark">
                                <div class="rating-badge">
                                    <span class="badge badge-primary rounded-circle text-dark">
                                        @topBook.TotalRating
                                        <i class="fa fa-star checked"></i>
                                    </span>
                                </div>
                                <img class="card-img-top" height="250" width="100" src="@topBook.ImageUrl" alt="Card image cap" onerror="this.src='@Url.Content("~/img/default-book.jpg")'" style="border: 1px solid #fff;">
                                <div class="card-body text-center d-flex justify-content-center" style="height:90px;background-color:#212529; margin-top:-15px; border: 1px solid #fff; margin-bottom:-20px;">
                                    <h6 class="card-title ellipsis text-white">@topBook.BookTitle</h6>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
