@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var requestQuery = ViewContext.HttpContext.Request.Query;
    string IsActive(string controller, string action) =>
        (ViewContext.RouteData.Values["Controller"].ToString() == controller &&
         ViewContext.RouteData.Values["Action"].ToString() == action) ? "active" : "";
}
<nav class="navbar navbar-expand-lg navbar-dark @((ViewBag.LoginView == true) ? "hide-navbar" : "")" style="background-color:#111111" id="top">
    <div class="container-fluid">
        <a asp-action="Index" asp-controller="Book">
            <img src="~/img/bookhub-logo.png" style="width: 100px; height: auto; margin-right:71px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item me-5  @IsActive("Book", "Index")">
                    <a class="nav-link @IsActive("Book", "Index")" asp-action="Index" asp-controller="Book">Home</a>
                </li>

                <li class="nav-item me-5  @IsActive("Book", "AllBooks")">
                    <a class="nav-link @IsActive("Book", "AllBooks")" asp-action="AllBooks" asp-controller="Book">All Books</a>
                </li>

                <li class="nav-item me-5  @IsActive("Book", "TopBooks")">
                    <a class="nav-link @IsActive("Book", "TopBooks")" asp-action="TopBooks" asp-controller="Book">Top Books</a>
                </li>

                <li class="nav-item me-5 @IsActive("Book", "NewBooks")">
                    <a class="nav-link @IsActive("Book", "NewBooks")" asp-action="NewBooks" asp-controller="Book">New Books</a>
                </li>
                <li class="nav-item me-5 @IsActive("BookRequests", "SendRequest")">
                    <a class="nav-link @IsActive("BookRequests", "SendRequest")" asp-action="SendRequest" asp-controller="BookRequests">Book Request</a>
                </li>
            </ul>
            <div class="navbar-nav ms-auto pe-5 me-5" style="margin-top: -15px;">
                <form asp-controller="Book" asp-action="AllBooks" method="get" class="form-inline d-flex align-items-center mt-3">
                    <div class="input-group" style="width: 610px;">
                        <span class="input-group-text" style="background-color: #333; border: none;">
                            <i class="bi bi-search" style="color: #fff;"></i>
                        </span>
                        <input type="text" name="searchQuery" class="form-control"
                               placeholder="Search..." value="@ViewBag.SearchQuery"
                               style="box-shadow: none; background-color: #333; color: #fff; border: none;"
                               id="liveSearchInput" autocomplete="off">
                        <input type="hidden" name="filter" value="@requestQuery["filter"]" />
                        <input type="hidden" name="sort" value="@requestQuery["sort"]" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
<style>
    /*Navbar effects*/
    #liveSearchInput::placeholder {
        color: gray;
        background-color: #333 !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #333 inset !important;
    }

    .navbar-nav .nav-link.active,
    .nav-link:hover {
        color: #FFC119;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 3px;
    }

    li:after {
        content: '';
        margin: auto;
        display: block;
        height: 2px;
        width: 0%;
        background-color: transparent;
        transition: width 0.5s ease, background-color 0.5s ease;
    }

    li:hover:after,
    li.active:after {
        width: 100%;
        background-color: #FFC119;
    }
</style>

