@using NavOS.Basecode.Services.ServiceModels;
@using NavOS.Basecode.Services.Helper
@{
    ViewData["Title"] = "All Books";

    var books = ViewData["AllBooks"] as List<NavOS.Basecode.Services.ServiceModels.BookViewModel>;
    var genres = ViewData["Genre"] as List<NavOS.Basecode.Services.ServiceModels.GenreViewModel>;

    int pageSize = 10;
    var (currentPage, totalItems, totalPages, startIndex, bookNumber, pageData) = PaginationHelper
    .GetPagination(pageSize, books, ViewContext.HttpContext.Request.Query["page"]
    .FirstOrDefault());

    var (displayText, textColor, fontStyle) = HeaderHelper.GetDisplayProperties(Context);

}
<style>
    .summary-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .pagination .page-item.active a {
        background-color: #00A651;
        box-shadow: none;
    }

    .pagination .page-item:not(.active) a {
        background-color: transparent;
        color: #000;
    }

    .pagination .page-item a {
        border: none;
    }

        .pagination .page-item a:hover {
            background-color: #00A651;
            color: white;
        }
</style>

<div class="container">
    <div class="row mt-5" style="border: 1px solid #fff;">
        <!-- Header Container -->
        <div class="col-md-12" style="background-color:#FFC119">
            <div class="d-flex justify-content-between align-items-center">
                <span class="float-start text-center fst-italic my-2 text-dark fw-bold" style="color: @textColor; font-style: @fontStyle;">
                    @displayText
                </span>
                <!-- Pagination -->
                <nav aria-label="Page navigation" style="margin-bottom:-14.5px;">
                    <ul class="pagination">
                        @if (currentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@FilterHelper.GetQueryString(currentPage - 1, Context)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }

                        @for (int i = Math.Max(1, currentPage - 1); i <= Math.Min(totalPages, currentPage + 1); i++)
                        {
                            <li class="page-item @(i == currentPage ? "active" : "")">
                                <a class="page-link" href="@FilterHelper.GetQueryString(i, Context)">@i</a>
                            </li>
                        }

                        @if (currentPage < totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@FilterHelper.GetQueryString(currentPage + 1, Context)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Search -->
        <div class="row ms-1">
            <form asp-controller="Book" asp-action="AllBooks" method="get" class="mt-3">
                <div class="input-group" style="width:99%;">
                    <input type="text" name="searchQuery" class="form-control" placeholder="Search..." value="@ViewBag.SearchQuery" style="box-shadow:none;">
                    <input type="hidden" name="filter" value="@ViewContext.HttpContext.Request.Query["filter"]" />
                </div>
            </form>
        </div>
        <div class="row" style="margin-top:-10px;">
            <!-- Filter button section -->
            <div class="col-12 mt-4 ms-3">
                @foreach (var filterOption in new[] { "all", "title", "author" })
                {
                    var isActive = string.Equals(ViewContext.HttpContext.Request.Query["filter"].ToString(), filterOption, StringComparison.OrdinalIgnoreCase);
                    var buttonText = filterOption.First().ToString().ToUpper() + filterOption.Substring(1);

                    <a href="?filter=@filterOption&sort=@filterOption" class="btn btn-outline-warning @(isActive ? "active text-dark" : "text-white")" style="box-shadow:none; text-decoration: none; color: inherit; margin-left:5px;">
                        @buttonText
                    </a>
                }
                <button type="button" style="box-shadow:none; text-decoration: none; color: inherit;" class="btn btn-outline-warning text-white" data-toggle="collapse" data-target="#genreFilter">Genre</button>
            </div>
            <!-- Genre list section -->
            <div id="genreFilter" class="collapse">
                <div class="col-md-12 ms-4 mt-3">
                    <h4 class="text-white font-weight-light mt-2">Genre</h4>
                    @for (var i = 0; i < genres.Count; i++)
                    {
                        var genre = genres[i];
                        var selectedGenres = ViewContext.HttpContext.Request.Query["searchQuery"];
                        var currentGenre = genre.GenreName;
                        var isSelected = selectedGenres.ToString() == currentGenre ? "active text-dark" : "text-white";

                        <button type="button" class="btn btn-outline-warning @(isSelected)" style="min-width: 100px" onclick="location.href='?filter=genre&searchQuery=@(isSelected == "active text-dark" ? "" : currentGenre)'">@currentGenre</button>
                    }
                </div>
            </div>
        </div>
        @if (pageData.Any())
        {
            @foreach (var book in pageData)
            {
                <div class="w3-row w3-padding-30 bookLists ms-4" id="bookListContainer">
                    <div class="w3-row w3-margin-bottom w3-padding-16">
                        <div class="w3-col" style="width: 250px;">
                            <div class="animateZoom">
                                <a asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@book.BookId" class="text-decoration-none text-dark">
                                    <img src="@book.ImageUrl" onerror="this.src='@Url.Content("~/img/default-book.jpg")'" alt="Title">
                                </a>
                            </div>
                        </div>
                        <div class="w3-twothird">
                            @*                      <h3 class="w3-text-orange"><i>#@(bookNumber)</i></h3> *@
                            <div class="animateZoom">
                                <h3><a href="#">@book.BookTitle</a></h3>
                            </div>
                            <div class="animateZoom">
                                <h4><a href="#">@book.Author</a></h4>
                            </div>
                            <small style="font-size: 13px;">
                                <i class='fa fa-star w3-text-yellow'></i>
                                <b>
                                    @book.TotalRating
                                </b>Ratings . @book.ReviewCount reviews
                            </small><br><br>
                            <div class="buttonFlex mb-3">
                                <a asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@book.BookId" class="text-decoration-none text-dark">
                                    <span class="animateZoom wantToRead wantToReadText">View Details</span>
                                </a>
                                <div class="line"></div>
                                <a asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@book.BookId" class="text-decoration-none text-dark">
                                    <span class="animateZoom wantToRead wantToReadIcon" style="margin-top:-10px;"><i class="fa fa-angle-down"></i></span>
                                </a>
                            </div>
                            <p class="summary-truncate">@book.Summary </p>
                        </div>
                    </div>
                </div>
                bookNumber++;
            }
        }
        else
        {
            <div class="row ms-5">
                <span class="text-white mt-5 mb-5">No Books found </span>
            </div>
        }
    </div>
</div>

