@model NavOS.Basecode.Services.ServiceModels.FilteredBooksViewModel
@using NavOS.Basecode.Services.Helper;
@{
    ViewData["Title"] = "All Books";
    var requestQuery = ViewContext.HttpContext.Request.Query;
    int pageSize = 5;
    var (currentPage, totalItems, totalPages, startIndex, bookNumber, pageData) = PaginationHelper
        .GetPagination(pageSize, Model.Books, requestQuery["page"]
        .FirstOrDefault());

    var (displayText, textColor, fontStyle) = HeaderHelper.GetDisplayProperties(Context);

}
@section styles {
    <link rel="stylesheet" href="~/css/allBooks.css" />
}
<div class="container">
    <div class="row mt-5" style="border: 1px solid #fff;">
        <!-- Header Container -->
        <div class="col-md-12" style="background-color:#FFC119">
            <div class="d-flex justify-content-between align-items-center bookListContainer">
                <span class="float-start text-center fst-italic my-2 text-dark fw-bold" style="color: @textColor; font-style: @fontStyle;">
                    @displayText
                </span>
                <!-- Pagination -->
                <nav aria-label="Page navigation" style="margin-bottom:-21.5px;">
                    <ul class="pagination">
                        @for (int i = Math.Max(1, currentPage - 1); i <= Math.Min(totalPages, currentPage + 1); i++)
                        {
                            <li class="page-item @(i == currentPage ? "active" : "")">
                                <a class="page-link" href="@FilterHelper.GetQueryString(i, Context)">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row" style="margin-top:-10px;">
            <!-- Filter button section -->
            <div class="col-12 mt-4">
                @foreach (var filterOption in new[] { "all", "ratings", "title", "author" })
                {
                    var isActive = string.Equals(requestQuery["filter"].ToString(), filterOption, StringComparison.OrdinalIgnoreCase) || (string.IsNullOrEmpty(requestQuery["filter"].ToString()) && filterOption == "all");
                    var buttonText = filterOption.First().ToString().ToUpper() + filterOption.Substring(1);

                    <a href="?filter=@filterOption&sort=@filterOption" class="btn btn-outline-warning @(isActive ? "active text-dark" : "text-white")" style="box-shadow:none; text-decoration: none; color: inherit; margin-left:5px;">
                        @buttonText
                    </a>
                }
                <button type="button" style="box-shadow:none; text-decoration: none; color: inherit;" class="btn btn-outline-warning text-white" data-toggle="collapse" data-target="#genreFilter">Genre</button>
            </div>
        </div>
        <!-- Genre list section -->
        <div id="genreFilter" class="@(string.Equals(requestQuery["filter"], "genre", StringComparison.OrdinalIgnoreCase) ? "" : "collapse")">
            <div class="row ms-1">
                <div class="col-md-12 mt-3">
                    <h4 class="text-white font-weight-light mt-2">Genre</h4>
                    @for (var i = 0; i < Model.Genres.Count; i++)
                    {
                        var genre = Model.Genres[i];
                        var selectedGenres = requestQuery["sort"];
                        var currentGenre = genre.GenreName;
                        var isSelected = selectedGenres.ToString() == currentGenre ? "active text-dark" : "text-white";

                        <button type="button" class="mb-2 shadow-none btn btn-outline-warning @(isSelected)" style="min-width: 100px" onclick="location.href='?filter=genre&sort=@(isSelected == "active text-dark" ? "" : currentGenre)'">@currentGenre</button>
                    }
                </div>
            </div>
        </div>
        <div class="w3-row w3-padding-30 bookLists ms-4" id="bookListContainer">
            @if (pageData.Any())
            {
                @foreach (var book in pageData)
                {
                    <div class="w3-row w3-margin-bottom w3-padding-16">
                        <div class="w3-col" style="width: 250px;">
                            <div class="animateZoom">
                                <a asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@book.BookId" class="text-decoration-none text-dark">
                                    <img src="@book.ImageUrl" onerror="this.src='@Url.Content("~/img/default-book.jpg")'" alt="Title">
                                </a>
                            </div>
                        </div>
                        <div class="w3-twothird">
                            <div class="animateZoom">
                                <h3 class="fw-bold">@book.BookTitle</h3>
                            </div>
                            <hr>
                            <div class="animateZoom">
                                <h4><span class="fw-normal text-white" target="_blank"> @book.Author </span></h4>
                            </div>
                            <div class="animateZoom">
                                <p class="fs-italic">@book.Genre</p>
                            </div>
                            <small style="font-size: 13px;">
                                <i class='fa fa-star w3-text-yellow'></i>
                                <b>@book.AvgRatings</b> Ratings . @book.ReviewCount reviews
                            </small><br><br>
                            <p class="summary-truncate">@book.Summary </p>
                            <div class="buttonFlex mb-3">
                                <div class="btn-slide float-end mt-2">
                                    <a class="trigger fw-semibold" asp-action="BookDetails" asp-controller="Book" asp-route-BookId="@book.BookId">View More Details</a>
                                    <div class="slide"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row ms-5">
                    <span class="text-white mt-5 mb-5">No Books found </span>
                </div>
            }
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var typingTimer;
            var doneTypingInterval = 300;

            $('#liveSearchInput').keyup(function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            function doneTyping() {
                var searchQuery = $('#liveSearchInput').val();
                var currentFilter = '@requestQuery["filter"]';

                //fetch results
                $.ajax({
                    url: '/Book/AllBooks',
                    type: 'GET',
                    data: { searchQuery: searchQuery, filter: currentFilter },
                    success: function (data) {
                        $('#bookListContainer').html($(data).find('#bookListContainer').html());
                        $('.bookListContainer').html($(data).find('.bookListContainer').html());
                    },
                    error: function (error) {
                        console.error('Error during live search:', error);
                    }
                });
            }
        });
    </script>
}