@model NavOS.Basecode.Services.ServiceModels.FilteredBooksViewModel
@using NavOS.Basecode.Services.Helper;
@{
    ViewData["Title"] = "Book List";

    int pageSize = 10;
    var (currentPage, totalItems, totalPages, startIndex, bookNumber, pageData) = PaginationHelper
    .GetPagination(pageSize, Model.Books, ViewContext.HttpContext.Request.Query["page"]
    .FirstOrDefault());

    var (displayText, textColor, fontStyle) = HeaderHelper.GetDisplayProperties(Context);
    var requestQuery = ViewContext.HttpContext.Request.Query;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/list.css">
}
<div class="row">
    <div class="col-12 col-md-12 px-2 justify-content-between ms-2">
        <div class="btn-slide float-end">
            <a class="trigger fw-semibold" asp-action="AddBook" asp-controller="Book">+ Add Book</a>
            <div class="slide"></div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3" style="border: 1px solid #fff;">
            <!-- Header Container -->
            <div class="col-md-12 mb-2" style="background-color:#FFC119">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="float-start text-center fst-italic my-2 text-dark fw-bold ms-2" style="color: @textColor; font-style: @fontStyle;">
                        @displayText
                    </span>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation" style="margin-bottom:-21.5px;">
                        <ul class="pagination">
                            @for (int i = Math.Max(1, currentPage - 1); i <= Math.Min(totalPages, currentPage + 1); i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@FilterHelper.GetQueryString(i, Context)">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <form asp-controller="Book" asp-action="BookList" method="get" class="form-inline d-flex align-items-center mt-2">
                <div class="input-group">
                    <span class="input-group-text" style="border: none;">
                        <i class="bi bi-search" style="color: #000;"></i>
                    </span>
                    <input type="text" autocomplete="off" name="searchQuery" class="form-control" placeholder="Search..." value="@ViewBag.SearchQuery" style="box-shadow: none; border: none;" id="liveSearchInput">
                    <input type="hidden" name="filter" value="@requestQuery["filter"]" />
                    <input type="hidden" name="sort" value="@requestQuery["sort"]" />
                </div>
            </form>
            <div class="row" style="margin-top:-10px;">
                <!-- Filter button section -->
                <div class="col-12 mt-4">
                    @foreach (var filterOption in new[] { "all", "ratings", "title", "author" })
                    {
                        var isActive = string.Equals(requestQuery["filter"].ToString(), filterOption, StringComparison.OrdinalIgnoreCase) || (string.IsNullOrEmpty(requestQuery["filter"].ToString()) && filterOption == "all");
                        var buttonText = filterOption.First().ToString().ToUpper() + filterOption.Substring(1);

                        <a href="?filter=@filterOption&sort=@filterOption" class="btn btn-outline-warning @(isActive ? "active text-dark" : "text-white")" style="box-shadow:none; text-decoration: none; color: inherit; margin-left:5px;">
                            @buttonText
                        </a>
                    }
                    <button type="button" style="box-shadow:none; text-decoration: none; color: inherit;" class="btn btn-outline-warning text-white" data-toggle="collapse" data-target="#genreFilter">Genre</button>
                </div>
            </div>
            <!-- Genre list section -->
            <div id="genreFilter" class="@(string.Equals(requestQuery["filter"], "genre", StringComparison.OrdinalIgnoreCase) ? "" : "collapse")">
                <div class="row ms-1">
                    <div class="col-md-12 mt-3">
                        <h4 class="text-white font-weight-light mt-2">Genre</h4>
                        @for (var i = 0; i < Model.Genres.Count; i++)
                        {
                            var genre = Model.Genres[i];
                            var selectedGenres = requestQuery["sort"];
                            var currentGenre = genre.GenreName;
                            var isSelected = selectedGenres.ToString() == currentGenre ? "active text-dark" : "text-white";

                            <button type="button" class="mb-2 shadow-none btn btn-outline-warning @(isSelected)" style="min-width: 100px" onclick="location.href='?filter=genre&sort=@(isSelected == "active text-dark" ? "" : currentGenre)'">@currentGenre</button>
                        }
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                @if (pageData.Any())
                {
                    <table class="table table-striped table-dark text-left" style="margin-top: 20px;">
                        <thead class="rounded">
                            <tr>
                                <th style="background-color: #FFC119;color: black;" scope="col"><span class="ms-1">Image</span></th>
                                <th style="background-color: #FFC119;color: black;" scope="col">Title</th>
                                <th style="background-color: #FFC119;color: black;" scope="col">Genre</th>
                                <th style="background-color: #FFC119;color: black;" scope="col">Author</th>
                                <th style="background-color: #FFC119;color: black;" scope="col">Rate / Reviews</th>
                                <th style="background-color: #FFC119;color: black;" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var books in pageData)
                            {
                                <tr>
                                    <td class="align-middle" style="width: 60px;">
                                        <img src="@books.ImageUrl" class="rounded" onerror="this.src='@Url.Content("~/img/default-book.jpg")'" alt="@books.BookTitle" height="100" width="80" style="object-fit: cover; cursor: pointer" onclick="location.href='/Book/BookDetails?BookId=@books.BookId'" title="View Book Detail">
                                    </td>
                                    <td class="align-middle" style="width: 25%;">@books.BookTitle</td>
                                    <td class="align-middle" style="width: 25%;">@books.Genre</td>
                                    <td class="align-middle" style="width: 20%;">@books.Author</td>
                                    <td class="align-middle">@books.TotalRating <i class="fa fa-star text-warning"></i> / @books.ReviewCount Reviews</td>
                                    <td class="align-middle">
                                        <div class="btn-group" role="group">
                                            <form asp-action="EditBook" method="get">
                                                <input type="hidden" name="BookId" value="@books.BookId">
                                                <button type="submit" class="btn btn-warning shadow-none" title="Edit Admin"><i class="fas fa-edit"></i></button>
                                            </form>
                                            &nbsp;
                                            <button class="btn btn-outline-warning rounded shadow-none" title="Delete Admin" onclick='openModalSet("@books.BookId", "@books.BookTitle")'><i class="fas fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="mt-5 ms-3 mb-5">No books found.</p>
                }
            </div>
        </div>
    </div>


    @* Modal Area *@
    <div class="w3-modal" id="deleteModal">
        <div class="w3-modal-content w3-animate-top w3-round-xlarge" style="background-color: #212529;width: 40%;">
            <div class="w3-container w3-padding-large">
                <p>
                    <div class="text-center">
                        <h3 class="w3-center">Are you sure you want to delete</h3>
                        <h3 class="w3-center" id="BookTitle"></h3>
                    </div>
                </p>
                <div class="row text-center">
                    <div id="BookId" style="display: none"></div>
                    <div class="col-md-6">
                        <button class="btn btn-outline-warning" style="width: 200px" onclick="deleteBook()"><h3>YES</h3></button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning" style="width: 200px" onclick="modal_control('deleteModal','none')"><h3>NO</h3></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        var successMessage = '@TempData["SuccessMessage"]';

        if (errorMessage) {
            toastr.error(errorMessage);
        }

        if (successMessage) {
            toastr.success(successMessage);
        }
    </script>
    <script src="~/js/bookModal.js"></script>
    <script src="~/js/getQueryParam.js"></script>
}