@model NavOS.Basecode.Services.ServiceModels.BookViewModel
@{
    ViewData["Title"] = "Edit Book";
    string[] separatedGenre = Model.Genre.Split(", ");
}
@section styles {
    <link rel="stylesheet" href="~/css/addEditBook.css" />
    <script src="~/js/editBook.js"></script>
    <style>
        .genre-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    </style>
}

<div class="container">
    <div class="row bodyBorder">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" asp-action="EditBook" onsubmit="return validateForm()">
    <input type="hidden" asp-for="BookId" />
    <div class="row">
        <!--EDIT BUTTON-->
        <div class="addNow">
            Edit Book
        </div>
        <div class="bodyDetails">
            <div class="w3-row w3-margin-bottom">

                <!--BOOK IMAGE-->
                <div class="w3-col imgPaddingRight">
                    <img class="bookImgStyle" id="bookImage" src="@Model.ImageUrl" onerror="this.src='@Url.Content("~/img/default-book.jpg")'">
                    <input type="file" class="form-control mt-2" asp-for="ImageFile" accept="image/*" onchange="displayImage(this)">
                    @* <span asp-validation-for="ImageFile" class="text-warning spanImgFile"></span> *@
                </div>

                <!--INPUT DETAILS-->
                <div class="w3-half">
                    <div class="form-container">
                        <div class="form-row">
                            <p>Title:</p>
                            <input class="form-control boxShadow" asp-for="BookTitle" />
                        </div>
                        <span asp-validation-for="BookTitle" class="text-warning bookInputSpan"></span>
                        <div class="form-row">
                            <p>Author:</p>
                            <input class="form-control boxShadow" asp-for="Author" />
                        </div>
                        <span asp-validation-for="Author" class="text-warning bookInputSpan"></span>
                        <div class="form-row">
                            <p>Status:</p>
                            <select id="status" name="Status" asp-for="Status" required>
                                <option value="" disabled selected>Select Status</option>
                                <option value="Ongoing" class="text-dark">Ongoing</option>
                                <option value="Completed" class="text-dark">Completed</option>
                                <option value="Hiatus" class="text-dark">Hiatus</option>
                            </select>
                        </div>
                        <span asp-validation-for="Status" class="text-warning bookInputSpan"></span>
                        <div class="form-row">
                            <p>Pages:</p>
                            <input class="form-control boxShadow" asp-for="Pages" />
                        </div>
                        <span asp-validation-for="Pages" class="text-warning bookInputSpan"></span>
                        <div class="form-row">
                            <p>Date:</p>
                            <input type="date" class="form-control boxShadow" asp-for="DateReleased" />
                        </div>
                        <span asp-validation-for="DateReleased" class="text-warning bookInputSpan"></span>
                        <div class="form-row">
                            <p>Book Url:</p>
                            <input class="form-control" asp-for="Source" />
                        </div>
                        <span asp-validation-for="Source" class="text-warning bookInputSpan"></span>
                        <div class="form-row">
                            <p>Genre:</p>
                            <div class="dropdown genre-dropdown">
                                <div class="genreText text-decoration-none text-white" id="genreDropdownBtn">Choose Genre</div>
                                <div class="dropdown-content">
                                    @if (Model.Genres != null)
                                    {
                                        <div class="scrollable-genres">
                                        @foreach (var genre in Model.Genres)
                                        {
                                            <label>
                                                <input class="ms-2" type="checkbox" onchange="updateButtonText()" name="SelectedGenres" value="@genre.GenreName" @((separatedGenre.Contains(genre.GenreName)) ? "checked" : "") required>
                                               <span class="genre-style">@genre.GenreName</span>
                                                
                                            </label>
                                        }
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        <span id="genreValidationError" class="text-warning bookInputSpan"></span>
                    </div>
                </div>
            </div>

            <!--INPUT SUMMARY-->
            <div class="w3-row">
                <h7 class="w3-margin-bottom summaryLabel w3-half">SUMMARY</h7>
            </div>
            <span asp-validation-for="Summary" class="text-warning summarySpan"></span>
            <div class="w3-border">
                <textarea rows="7" class="w3-justify w3-text-white w3-padding" asp-for="Summary"></textarea>
            </div>
            <div class="col-12 col-md-12 px-2 justify-content-between mt-2 ms-2">
                <div class="btn-slide float-end mt-2">
                    <button type="submit" class="trigger fw-semibold">Save Book</button>
                    <div class="slide"></div>
                </div>
            </div>
        </div>
    </div>
</form>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}