@using NavOS.Basecode.Services.ServiceModels;
@model BookViewModel
@{
    ViewData["Title"] = "Edit Book - " + Model.BookTitle;
    var genres = ViewData["Genre"] as List<GenreViewModel>;

}
<!-- script for image-->
<script>
    function displayImage(input) {
        var imageElement = document.getElementById("bookImage");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imageElement.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<form method="post" enctype="multipart/form-data" asp-action="EditBook" onsubmit="return validateForm()">
    <input type="hidden" asp-for="BookId" />
    <div class="w3-margin">
        <!--EDIT BUTTON-->
        <div class="addNow">
            <button type="submit" class="addbtn text-dark">+EDIT NOW</button>
        </div>
        <div class="bodyDetails">
            <div class="w3-row w3-margin-bottom">

                <!--BOOK IMAGE-->
                <div class="w3-col imgPaddingRight" style="width:230px">
                    <img id="bookImage" src="@Model.ImageUrl" onerror="this.src='@Url.Content("~/img/default-book.jpg")'" style="width:100%; height:280px; object-fit: cover">
                    <input type="file" class="form-control mt-2" asp-for="ImageFile" accept="image/*" onchange="displayImage(this)">
                    @* <span asp-validation-for="ImageFile" class="text-warning" style="height:20px; margin-top:-10px; margin-bottom:10px;"></span> *@
                </div>

                <!--INPUT DETAILS-->
                <div class="w3-half">
                    <div class="form-container">
                        <div class="form-row" style="display: flex; align-items: center;">
                            <p>Title:</p>
                            <input class="form-control" asp-for="BookTitle" style="box-shadow:none;" />
                        </div>
                        <span asp-validation-for="BookTitle" class="text-warning" style="margin-left: 80px; height:20px; margin-top:-20px; margin-bottom:10px;"></span>
                        <div class="form-row">
                            <p>Author:</p>
                            <input class="form-control" asp-for="Author" style="box-shadow:none;" />
                        </div>
                        <span asp-validation-for="Author" class="text-warning" style="margin-left: 80px; height:20px; margin-top:-20px; margin-bottom:10px;"></span>
                        <div class="form-row">
                            <p>Status:</p>
                            <select id="status" name="Status" asp-for="Status" required>
                                <option value="" disabled selected>Select Status</option>
                                <option value="Ongoing" class="text-dark">Ongoing</option>
                                <option value="Completed" class="text-dark">Completed</option>
                                <option value="Hiatus" class="text-dark">Hiatus</option>
                            </select>
                        </div>
                        <span asp-validation-for="Status" class="text-warning" style="margin-left: 80px; height:20px; margin-top:-20px; margin-bottom:10px;"></span>
                        <div class="form-row">
                            <p>Chapter:</p>
                            <input class="form-control" asp-for="Chapter" style="box-shadow:none;" />
                        </div>
                        <span asp-validation-for="Chapter" class="text-warning" style="margin-left: 80px; height:20px; margin-top:-20px; margin-bottom:10px;"></span>
                        <div class="form-row">
                            <p>Date:</p>
                            <input type="date" class="form-control" asp-for="DateReleased" style="box-shadow:none;" />
                        </div>
                        <span asp-validation-for="DateReleased" class="text-warning" style="margin-left: 80px; height:20px; margin-top:-20px; margin-bottom:10px;"></span>
                        <div class="form-row">
                            <label style="margin-right: 25px;">Genre:</label>
                            <div class="dropdown genre-dropdown">
                                <button id="genreDropdownBtn">Choose Genre</button>
                                <div class="dropdown-content">
                                    @{
                                        string[] separatedGenre = Model.Genre.Split(", ");
                                    }
                                    @if (genres != null)
                                    {
                                        @foreach (var genre in genres)
                                        {
                                            <label>
                                                <input type="checkbox" name="SelectedGenres" value="@genre.GenreName" @((separatedGenre.Contains(genre.GenreName)) ? "checked" : "") required>
                                                @genre.GenreName
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <span id="genreValidationError" class="text-warning" style="height:20px; margin-left:80px;margin-top: -20px; margin-bottom:10px;"></span>
                    </div>
                </div>
            </div>

            <!--INPUT SUMMARY-->
            <h7 class="w3-margin-bottom summaryLabel">SUMMARY</h7>
            <span asp-validation-for="Summary" class="text-warning" style="height:20px; margin-bottom:10px;"></span>
            <div class="w3-border">
                <textarea rows="7" class="w3-justify w3-text-white w3-padding" asp-for="Summary" style="outline:none;"></textarea>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}